{% extends "base.html" %}

{% block content %}

<h1>ML Analytics</h1>

<div class="stats-container">

    <div class="stat-card">
        <h3>Model</h3>
        <h1>XGBoost</h1>
    </div>

    <div class="stat-card">
        <h3>Accuracy</h3>
        <h1>99.69%</h1>
    </div>

    <div class="stat-card">
        <h3>F1 Score</h3>
        <h1>83%</h1>
    </div>

</div>

<div class="stats-container">

    <div class="stat-card">
        <h3>Precision</h3>
        <h1>97%</h1>
    </div>

    <div class="stat-card">
        <h3>Recall</h3>
        <h1>72%</h1>
    </div>

    <div class="stat-card">
        <h3>Classes</h3>
        <h1>2</h1>
        <p>BENIGN, BOT</p>
    </div>

</div>

{% endblock %}